.horizontal-layout {
  padding: 0px !important;
}

.vertical-layout {
  padding: 0px !important;
}

.horizontal-layout-item,
.vertical-layout-item {
}

.group {
}

.group-label {
}

.group-item {
  padding: 0px !important;
}

.control {
}

.label-element {
}

.array-list {
}

.array-list-label {
}

.array-list-add {
}

.array-list-item-move-up {
}

.array-list-item-move-down {
}

.array-list-item-delete {
}

.array-list-no-data {
}

.array-list-item {
}

.array-list-toolbar {
}

.array-list-item-header {
}

.array-list-item-label {
}

.array-list-item-content {
}

